@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #fff6ea;
}

#backgroud {
  margin: 0 auto;
  padding: 0;
  width: 100%;
}

#co-background {
  margin: 0 auto;
  padding: 0;
  width: 100%;
}

/* Header */

#img-brush-atas {
  margin: 0 auto;
  padding: 0;
  width: 100%;
}

#container-logo {
  /* width: 100%; */
  display: flex;
  align-items: center;
  gap: 10px;
  position: absolute;
  top: 30px;
  left: 30px;
}

#back-button {
  padding-right: 20px;
}

#back-button .material-symbols-outlined {
  font-size: 50px;
  color: #000;
}
#logo {
  width: 60px;
}

#text-navigasi {
  font-size: 20px;
  color: #654321;
}

/* Carousel */
#container-carousel {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  position: absolute;
  top: 150px;
}

#co-carousel {
  margin: 0 auto;
  padding: 0;
  width: 90%;
  /* height: 250px; */
  /* border: solid; */
}

#carousel-container {
  position: relative;
  width: 100%;
  height: 350px;
  margin: auto;
  overflow: hidden;
  display: flex;
  align-items: center;
}

#carousel {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

#carousel1 {
  width: 100%;
}

#carousel-item {
  width: 33.33%;
  flex-shrink: 0;
  transition: opacity 0.5s ease-in-out;
}

#carousel-item.center {
  width: 50%;
}

#carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#carousel-item.fade-in {
  opacity: 0;
}

#prev,
#next {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  /* padding: 10px; */
  cursor: pointer;
  z-index: 1;
  border-radius: 30px;
}

#prev .material-symbols-outlined,
#next .material-symbols-outlined {
  padding: 10px;
}

#prev {
  position: absolute;
  left: 0;
}

#next {
  position: absolute;
  right: 0;
}

/* Footer */
#img-brush-bawah {
  position: absolute;
  width: 100%;
  height: auto;
  /* border: solid; */
  bottom: 0;
  z-index: -1;
}

#img-brush-bawah img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}
